html
  head
    title Isomorphic Demo
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
  body
    #react-main!= content

    script(src="/bundle.js")
