html
  head
    title Isomorphic Demo
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
  body
    #react-main!= content

    script(src="/bundle.js")
